/*
Icons obtained from: https://www.flaticon.com/icon-fonts-most-downloaded
*/

/* Color palette:
- Main background: #211f20
- Navbar: #2a2a2a
- Navbar elements (hovered): #333333
- Font color: #ececec

- accent: #007AFF
- seleced-accent: #2094FA

- nice green: #24a833
- link purple: #7d7aff
*/

:root{
    --std-font: 'roboto';
    --navbar-font: 'nunito';
    --code-font: 'source code pro';
    
    --content-width: 1200px;
    
    --accent-color: #2094FA;
    --background-color: #211f20;
    --font-color: #ececec;
    --nav-color: #2a2a2a;
    --nav-hover-color: #333333;
    --link-color: #7d7aff;
    --tamu-color: #500000;
    --green-color: #24a833;
}

/* html, body {width: auto!important; overflow-x: hidden!important}  */

body{
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'roboto';
    margin: 0;
}

.navbarCont{
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
}

nav{
    background-color: var(--nav-color);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navItem{
    font-family: var(--navbar-font);
    font-weight: 550;

    text-align: center;

    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;

    transition-duration: 0.5s;
}

.navItem:hover{
    background-color: var(--nav-hover-color);
}

.navLink{
    text-decoration: none;
    color: inherit;
}

.navItem img{
    position: relative;
    translate: 0 0.12rem;

    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.navIcon{
    max-height: 1rem;
     
    /* weird color stuff... */ 
    filter: drop-shadow(0px 100000px 0 var(--font-color));
    transform: translateY(-100000px);
}

.icon{
    max-height: 1rem;

    z-index: -1;
    
    /* weird color stuff... */ 
    filter: drop-shadow(0px 100000px 0 var(--font-color));
    transform: translateY(-100000px);
}

#selected{
    color: var(--accent-color);
}

#selected img{
    /* weird color stuff... */
    filter: drop-shadow(0px 100000px 0 var(--accent-color));
    transform: translateY(-100000px);
}

.pageContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    padding-left: 1rem;
    padding-right: 1rem;

    line-height: 1.75rem;

    width: var(--content-width);
}

.codeText{
    font-family: 'source code pro';
}

#intro{
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: larger;
}

#leftIntro{
    line-height:normal;
}

hr.rounded {
    color: var(--accent-color);
    border: 0.1rem solid var(--accent-color);
    
    border-radius: 0.1rem;
}

.txtLink{
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.2s;
    border-radius: 0.2rem;

    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.txtLink:visited{
    color: var(--link-color);
}

.txtLink:hover{
    color: var(--background-color);
    background-color: var(--link-color);
}


.mainHeader{
    color: var(--accent-color);
    font-family: var(--code-font);
    text-align: center;
}

.projectContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;

    padding-left: 1rem;
    padding-right: 1rem;
}

.projectImg{
    min-width: 80%;
    width: 27.5rem;

    border-radius: 0.5rem;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1.5rem
}

.sectionName{
    font-family: var(--code-font);
    line-height: normal;
}

.projectLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
    
    color: var(--link-color);
    border-radius: 0.5rem;
    transition-duration: 0.3s;
}

.link img{
    filter: drop-shadow(0px 100000px 0 var(--link-color));
    transform: translateY(-100000px);

    position: relative;
    translate: 0 0.12rem;

    padding-right: 0.2rem;
}

.link:hover{
    color: var(--background-color);
    background-color: var(--link-color);
}

.link:hover img{
    filter: drop-shadow(0px 100000px 0 var(--background-color));
    transform: translateY(-100000px);
}

.keys{
    background-color: var(--nav-hover-color);
    padding: 0.2rem;
    border-radius: 0.3rem;
    font-family: var(--code-font);
}


.bulletList{
    margin-top: 0;
    padding-left: 1rem;
    margin-top: 0;
    list-style-type: square;
}

/* for the setup section */

.sectionDivider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.subsectionDivider{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.section{
    max-width: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 0;
}

.smallSection, .leftSection, .rightSection{
    max-width: 100%;
    width: 30rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 0;
}

.componentList{
    padding-left: 1rem;
}

.component{
    display: inline-block;
    font-weight: bold;
    padding-right: 0.3rem;

    color: white;
}

.spec{
    font-style: italic;

    color: var(--green-color);
    display: inline-block;
}

.sectionImg{
    align-self: center;

    max-width: 80%;
    width: 28rem;

    max-height: 100%;
    height: auto;

    border-radius: 0.5rem;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1.5rem;
}


/* for the favorite album gallery: */

.albumGallery{
    font-family: 'roboto';
    text-align: center;
    justify-content: center;

    line-height: normal;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.musicLink{
    text-decoration: none;
    color: inherit;
}

.albumItem{
    margin: 0.5rem;

    text-align: center;
    max-width: 12rem;

    border-radius: 1rem;
    transition-duration: 0.4s;
}

.albumItem:hover{
    background-color: var(--font-color);
}

.albumName{
    padding-left: 0.2rem;
    padding-right: 0.2rem;

    transition-duration: 0.4s;
}

.albumItem:hover .albumName{
    color:var(--background-color);
}

.albumArtist{
    font-family: var(--code-font);

    padding: 0.2rem;
    transition-duration: 0.4s;
}

.albumItem:hover .albumArtist{
    color:var(--nav-color);
}

.albumCover{
    width: 10rem;
    margin: 1rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.albumName{
    color: white;
}

/* special treatment*/
#tamu{
    padding: 0.1rem;    

    background-color: var(--tamu-color);
    color: var(--font-color);
}

#tamu:hover{
    background-color: var(--font-color);
    color: var(--tamu-color);
}

@media only screen and (max-width: 1500px) {
    .projectContainer{
        flex-wrap: wrap;    
    }
    
    .pageContent{
        width: 90%;
    }

    .projectImg{
        max-width: 90%;
        align-self: center;
    }

    .invertedSection{
        flex-wrap: wrap-reverse;
    }
}

@media only screen and (max-width: 1080px){
    /* make album covers more compact */
    .albumItem{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .albumCover{
        max-width: 9rem;

        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    .albumName{
        max-width: 8rem;
    }
    .albumArtist{
        max-width: 8rem;
    }

    .invertedSection{
        flex-wrap: wrap-reverse;
    }
}

/**/

.imgGallery{
    position: relative;    /* Establish a containing block for the absolute element */
    display: inline-block; /* To make width fit to the content */
}

.leftArrow, .rightArrow{
    /*makes the arrows invisible until hover*/
    opacity: 0;
    transition-duration: 0.3s;

    /* this is so that it can overlap the image*/
    position: absolute;
    cursor: pointer;
    top: 0;

    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    /* allows the arrow to float in the middle */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgGallery:hover .leftArrow, .imgGallery:hover .rightArrow{
    background-color: rgba(0.2, 0.2, 0.2, 0.25);
    opacity: 1;
}

.leftArrow:hover, .rightArrow:hover{
    
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
}

.leftArrow{
    /* border-radius: top-left | top-right | bottom-right | bottom-left */
    left: 0;
}

.rightArrow{
    right: 0;
}

/* article stuff */

.articleLink{
    text-align: center;
}

.articleTitle{

    text-decoration: underline;
    text-underline-offset: 0.3rem;


    text-transform: capitalize;
    font-weight: bold;
    color: var(--link-color);

    padding: 0.4rem;
    border-radius: 0.3rem;
    transition-duration: 0.3s;

}

.articleTitle:hover{
    background-color: var(--link-color);
    color: var(--font-color);
    transform: translate(0, -0.25rem);
    text-underline-offset: 0.5rem;
}

.contentSpacer{
    margin-block-start: 1em;
    margin-block-end: 1em;
}

/* The following CSS is for the contact form */

.contactForm{
    display: flex;
    flex-direction: column;
}

#formShortTextInput{
    max-width: fit-content;
}

.formEntry{
    display: flex;
    flex-wrap: nowrap;

    justify-content: flex-end;
    align-content: start;
}

.shortTextInput{
    font-family: var(--code-font);

    width: 12rem;

    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;

    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

    border: none;
}

.userMessage{
    font-family: var(--code-font);

    border: none;

    width: 100%;
    height: 7rem;

    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    
    border-radius: 0.5rem;
}

.submitButton{
    width: min-content;
    align-self: center;

    display: flex;

    font-family: var(--navbar-font);
    font-weight: 550;

    padding: 0.75rem;
    border-radius: 0.5rem;

    transition-duration: 0.3s;

    border: none;
}

.submitButton:hover{
    background-color: var(--nav-hover-color);
    color: var(--font-color);
    cursor: pointer;
}

.submitIcon{
    translate: 0 0.15rem;
    max-height: 1rem;
    margin-right: 0.5rem;
    font-family: var(--navbar-font);
}

.submitButton:hover .submitIcon{
    filter: drop-shadow(0px 100000px 0 var(--font-color));
    transform: translateY(-100000px);
}

/* The following CSS is for the footer section */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerIcon{
    max-height: 1.5rem;
     
    /* weird color stuff... */ 
    filter: drop-shadow(0px 100000px 0 var(--font-color));
    transform: translateY(-100000px);
}